@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&display=swap');

/*CSS Nav*/
nav img{
    height: 45px;
    width: 45px;
    margin-left: 20px;
}

.active a{
  padding: 5px 10px;
  color: #fff;
  background-color: #ff6a00;
  border-radius: 15px;
}


 /*CSS pagina inicio*/
.inicio{
    min-height: 100vh;
    width: 100%;
    background: #0015CC;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  #conteudo-inicio{
      margin-left: 5%;
      margin-right: 5%;
  }
  
  .text-primary {
    font-size: 85px;
    font-family:'Poppins';
    margin-bottom: 25px;
  }
  

  
  #conteudo-inicio p{
    color: rgba(255, 255, 255, 0.986);
    font-size: 25px;
}
  
p{
    text-align: justify;

}


/*CSS pagina sobre*/

.sobre{
  min-height: 100vh;
  width: 100%;
  background: #ffffff;
  position: relative;
  justify-content: center;
  align-items: center;
}

#conteudo-sobre{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10em;
}

#carrossel-sobre{
    background-color: #0015CC;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 300px;
    padding-bottom: 300px;
}

#tela-sobre{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10em;
}


/*CSS pagina contato*/

.conteudo{
  min-height: 100vh;
  width: 100%;
  background: #0015CC;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#conteudo-contato{
  margin-left: 5%;
  margin-right: 5%;
}

.form-label {
  color: #fff
}
