header{
    margin-bottom: 5em;
}

nav img{
    height: 30px;
    width: 30px;
}

#conteudo{
    margin-left: 5%;
    margin-right: 5%;
}

#conteudo h1{
    margin-bottom: 25px;
}

p{
    text-align: justify;
    color: rgba(0, 0, 0, 0.750);
}

.footer{
  background: #152F4F;
  color:white;  
}

.contato ul{
  list-style: none;
}

.contato li {
  color: white;
}

.about-company i{
  font-size: 25px;
}

.about-company a{
  color: white;
  transition: color 2.s;
}

.about-company a:hover{
  color: #4180CB;
}
